footer{
     margin-top: 20rem;
     height:  40vh;
     color: white;
     background: #002024;
      .columns  div  {
          margin-top: 3rem;
          >li{
            margin: 1.2rem 0;
          }
      }
   
     h1{
         @extend %title;
         text-transform: uppercase;
     }
     .menu{
        ul li{
            margin: 1rem 0;
            a{
                &:hover{
                    @include hover_state_menu(normal);
                }
            }
        }
     }
}