$color-secondary : #424242;
$color-white : #FFFFFF;
$color-primary : #85AEFF;

$font-lato: 'Lato', sans-serif;
$font-sans: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$shadow-card :  7px 19px 33px -9px rgba(0,0,0,0.44);;
$space_items : 10px;
$fonts-size : ( 
    "big" : 3rem,
    "paragraph" : 0.8rem,
    "menu" :  1.1rem,
    "medium" : 1.8rem,
    "small" : 0.9rem,
    "second" : 1.3rem 
);
// $gradient_port :  
a{
    text-decoration: none;
    cursor: pointer;
}

@function font_size( $font){
    @return map-get($map: $fonts-size , $key: $font);
}
@mixin flex_center($orientation){
  display: flex;
  flex-direction: $orientation;
}
  /*---------------------------mediqueriest --------------------------*/
  @mixin transition-ease {
    transition: transform 0.5s ease-in-out;
  } 
  @mixin transition_two( $type) {
    transition:  $type 0.5s ease-in-out;
  }
  
  @mixin media-md {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  @mixin media-lg {
    @media screen and (max-width: 1024px) {
      @content;
    }
  }
  @mixin media-xl {
    @media screen and (max-width: 1600px) {
      @content;
    }
  }
  
  @mixin media-sm {
    @media screen and (max-width:  500px) {
      @content;
    }
  }
/*---------------------------end mediqueries ----------------------*/ 