@import "settings";
@import "generals";
@import "header";
@import "mediaqueries";
@import "cards";
@import "servicios/servicios";
@import "tecnologias/tecnologias";
@import "footer";
  /*---------------------------sobre nosotros --------------------------*/
 @import "sobre_nosotros/main";
 @import "portafolio/main";
 @import "contacto/main";


/*---------------------------end sobre nosotros----------------------*/ 
body{
    background:  $color-white;
    font-size: 18px;
    font-family: $font-sans;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}