header{
    background-image: linear-gradient(90deg ,rgba(6, 66, 66, 1), rgba(0, 32, 36, 0.7) ),
         url('../asssets/img/bg_portafolio.png') ;
     background-size: cover;
     background-position: top left;
     height: 98vh;
     h2.title{
        color: white;
    }
    .menu{
        
         ul{
            text-align: right;
         }
    }
    .text{
        margin-top: 10%;
        p{
            color: white;
            @extend %title;
            font-size: 1.2rem;
            width: 36rem;
            text-align: center;

            font-weight: 300;
        }
        .btn_contact{
            margin-top: 1rem;
            margin-left: 6%;
        }
    }
    @include media-lg{
      .text{
        //   border: 2px solid white;
          margin-left: 10% !important;
        //   text-align: center;
      .btn_contact{
          margin-left: 33%;
      }  
    }
    }
}