header{
    background-image: linear-gradient(90deg ,rgba(6, 66, 66, 1), rgba(0, 32, 36, 0.7) ),
         url('../asssets/img/bg_portafolio.png') ;
     background-size: cover;
     background-position: top left;
     height: 98vh;
     h2.title{
        color: white;
         
    }
    .menu{
        
         ul{
            text-align: right;
         }
    }
    .text{
        margin-top: 10%;
        p{
            color: white;
            @extend %title;
            font-size: 1.2rem;
            width: 36rem;
            text-align: center;

            font-weight: 300;
        }
        .btn_contact{
            margin-top: 1rem;
            margin-left: 6%;
        }
    }
    .icons{
  
      &.open{
       top: 10rem !important;
        left:40%;
        span{
          display: none;
        }
      }
    }
    @include media-lg{
      .text{
        //   border: 2px solid white;
          margin-left: 10% ;
        //   text-align: center;
      .btn_contact{
          margin-left: 33%;
      }  
    }
    }
    @include media-md{
      h2.title{
        color: white;
        text-align: center;
         
    }
      .text{
        // align-self: start;
        transform: translateY(-10rem);
        margin-top: 0rem;
    
        // border: 2px solid white;
        margin-left: 0;
        margin-top: 10rem;
        .btn_contact{
          margin-left: 0;
        }
      }
      .waves{
        display: none;
      }
    }

    @include media-sm{
     .text{
      //  border: 2px solid white;
       margin:  0 auto;
       display: block !important;
        width: 100%;
        margin-left: 0;
        text-align: center;
         p{
           width: 100%;
         }
     }
    }
}