.portafolio{
  h1{
      width: 100%;
      text-align: center;
  }


 .job{
     margin-top: 10rem;
     text-align: left;
    .phrase{
        position: relative;
        @extend %paragraph;
        font-style: italic;
        font-weight: 400;
      
        p{
            position: absolute;
            left: -5rem;
            width: 90%;
            bottom: 7rem;
           
        }
        &.der{
           p{
               width: 100%;
               left: 8rem;
           }
        }
        // text-align: center;
        
    }
     
    .bg_image{
        position: relative;
     height: 55vh;
     color:  $color-white;
     background-size: cover;
      .text{
          position: absolute;
          width: 50%;
          right: 0;
          bottom: 3rem;
          &.der{
            left: 5rem !important;

          }
  
         .btn_contact{
             @include  btn(rectangle);

             p{
                 width: 100%;
             }
             &:hover{
             transform: scale(1.1);
             }
             color: $color-white;
           }
      }
    }
 }
   /*---------------------------paginatet --------------------------*/
   .paginate{

       text-align: center;
       margin-top: 10rem;
       width: 100%;
       .badge{
        display: inline-block;
           background-color: black;
           width:  8%;

           border-radius: 10px;
           height:  1.5rem;
           cursor: pointer;
           .active{
               
            margin-left: 10%;
               margin-top: 5.5%;
               height: 0.8rem;
               border-radius: 10px;
               width: 85%;
             background: white;

           }
 
       }

   }
 
 /*---------------------------end paginate ----------------------*/ 
   /*---------------------------resñast --------------------------*/
 
    .resenias{
        margin-top: 4rem;
        .titulo{
            @extend %title;
            text-transform: uppercase;
            text-align: center;
            font-style: italic; ;
        }
         > .row{
             margin-top: 2rem;

             div p{
                 @extend %paragraph;
                 font-size: .9rem;
             }
             div h2{
               @extend %title;

             }
         }
    }
 /*---------------------------end resñas ----------------------*/ 
   /*---------------------------resenias --------------------------*/
  .sen_resenia{
      background-color: $color-secondary;
      height: 100vh;
      margin-top: 3rem;
      padding-top: 3rem;
      color:  $color-white;
        h2{
            @extend %title;
            text-align: center;
        }
      textarea{
        margin-left: 22%;
        // border: 2px solid black;
        min-width: 200px;
        height: 20vh;
        width: 800px;
        // min-height: 300px;
        outline: none;
        resize: none;
        overflow: auto;
        opacity: 0.6;
      }
     button{
         margin-top: 2rem;
         @include btn(border);
         display: inline-block;
         margin-left: 46%;
         background-color:  black;
         color: white;
     }
     @include media-lg{
      min-width: 300px !important;
      textarea{
        width: 600px;
        height: 50vh;
      }
     }
  }

 /*---------------------------end resenias ----------------------*/ 
}